{% extends "admin/template.html" %}

{% block active %}answers{% endblock %}

{% block title %}
    Admin > Answers
{% endblock %}

{% block content %}
        <div class="main-content">
            <div class="breadcrumb">
                <h1>Resultat</h1>
            </div>
            <div class="separator-breadcrumb border-top"></div>
            <!-- end of row-->
            <div class="row mb-4">
                <div class="col-md-12 mb-4">
                    <div class="card text-left">
                        <div class="card-body">
                            <p>
                                res_id integer PRIMARY KEY
                            </p>
                            <div class="table-responsive">
                                <table class="display table table-striped table-bordered text-center" id="zero_configuration_table" style="width:100%">
                                    <thead>

                                    <tr>
                                        <th>#</th>
                                        <th>Exam</th>
                                        <th>Time Used</th>
                                        <th>Student ID</th>
                                        <th>Grade</th>
                                        <th>Date</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% for result in results %}

                                        <tr>
                                            <th>{{ result[0] }}</th>
                                            <td>{{ result[7] }}</td>
                                            <td>{{ result[3] }} min</td>
                                            <td>{{ result[4] }}</td>
                                            <td>
                                                {% if result[5] == 1 %}
                                                    <span class="badge badge-pill badge-success p-2 m-1">Bestått</span>
                                                {% else %}
                                                    <span class="badge badge-pill badge-danger p-2 m-1">Ikke Bestått</span>
                                                {% endif %}
                                            </td>
                                            <th><a href="{{ url_for('admin_responses_single', rid=result[0]) }}">{{ result[1] }}</a></th>
                                        </tr>

                                    {% endfor %}

                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th>#</th>
                                        <th>Exam</th>
                                        <th>Time Used</th>
                                        <th>Student ID</th>
                                        <th>Grade</th>
                                        <th>Date</th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end of col-->
            </div>
            <!-- end of row-->
            <!-- end of main-content -->
        </div>
{% endblock %}


{% block script %}

    <script src="{{ url_for('static', filename='admin/js/plugins/datatables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/js/scripts/datatables.script.min.js') }}"></script>
{% endblock %}