{% extends "admin/template.html" %}

{% block active %}index{% endblock %}

{% block title %}
    Admin > Home
{% endblock %}

{% block content %}
        <div class="main-content">
            <div class="breadcrumb">
                <h1 class="mr-2">Version 1</h1>
                <ul>
                    <li><a href="">Dashboard</a></li>
                    <li>Version 1</li>
                </ul>
            </div>
            <div class="separator-breadcrumb border-top"></div>
            <div class="row">
                <!-- ICON BG-->
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
                        <div class="card-body text-center"><i class="i-Notepad"></i>
                            <div class="content">
                                <p class="text-muted mt-2 mb-0">Tester gjennomført på 30 dager</p>
                                <p class="text-primary text-24 line-height-1 mb-2">{{ ws[1] }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
                        <div class="card-body text-center"><i class="i-Open-Book"></i>
                            <div class="content">
                                <p class="text-muted mt-2 mb-0">Tester gjennomført i dag</p>
                                <p class="text-primary text-24 line-height-1 mb-2">{{ ws[2] }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
                        <div class="card-body text-center"><i class="i-Yes"></i>
                            <div class="content">
                                <p class="text-muted mt-2 mb-0">Beståtte øvinger</p>
                                <p class="text-primary text-24 line-height-1 mb-2">{{ ws[3] }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
                        <div class="card-body text-center"><i class="i-Diploma"></i>
                            <div class="content">
                                <p class="text-muted mt-2 mb-0">Alle tester gjennomført</p>
                                <p class="text-primary text-24 line-height-1 mb-2">{{ ws[0] }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card mb-4">
                        <div class="card-body pb-3">
                            <h5 class="card-title m-0 p-3">Antall tester gjennomført de siste 30 dagene</h5>
                            <div id="echart3" style="height: 360px;"></div>
                        </div>
                    </div>
                </div>
            </div><!-- end of main-content -->
        </div>

{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='admin/js/plugins/echarts.min.js') }}"></script>

    <script src="{{ url_for('static', filename='admin/js/scripts/echart.option.min.js') }}"></script>

    <script>



    $(document).ready(function() {
    // Chart in Dashboard version 1
    let echartElem3 = document.getElementById('echart3');
    if (echartElem3) {
        let echart3 = echarts.init(echartElem3);
        echart3.setOption({
            ...echartOptions.lineNoAxis,
            ... {
                series: [{
                    data: [
                        {% for last in last30days %}
            {{ last[0] }},
        {% endfor %}],
                    lineStyle: {
                        color: 'rgba(102, 51, 153, 0.8)',
                        width: 3,
                        ...echartOptions.lineShadow
                    },
                    label: { show: true, color: '#212121' },
                    type: 'line',
                    smooth: true,
                    itemStyle: {
                        borderColor: 'rgba(102, 51, 153, 1)'
                    }
                }]
            }
        });
        $(window).on('resize', function() {
            setTimeout(() => {
                echart3.resize();
            }, 500);
        });
    }

});
    </script>

{% endblock %}