<!DOCTYPE html>
<html lang="en" dir="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Signin | Admin</title>
    <link href="{{ url_for('static', filename='admin/css/Nunito.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='admin/css/themes/lite-purple.min.css') }}" rel="stylesheet">
</head>
<body>
    <div class="auth-layout-wrap" style="background-image: url({{ url_for('static', filename='admin/images/photo-wide-4.jpg') }})">
        <div class="auth-content" style="width:100%; max-width: 650px;">
            <div class="card o-hidden">
                <div class="row">
                    <div class="col-12">
                        <div class="p-4">
                            <div class="auth-logo text-center mb-4"><img src="{{ url_for('static', filename='admin/images/logo.png') }}" alt=""></div>
                            <h1 class="mb-3 text-18">Sign In</h1>
                            <form method="POST" id="login">
                                <div class="form-group">
                                    <label for="password">Passord</label>
                                    <input class="form-control form-control-rounded text-center" id="admin" name="admin" type="password">
                                </div>
                                <button class="btn btn-rounded btn-primary btn-block mt-3" type="submit" value="submit">Login</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>