{% extends "admin/template.html" %}

{% block active %}tbl_conf{% endblock %}

{% block title %}
    Admin > Home
{% endblock %}

{% block content %}
<div class="main-content">
    <div class="breadcrumb">
        <h1>Tablet kontroller</h1>
    </div>
    <div class="separator-breadcrumb border-top"></div>
    <p>
        Denne siden skal bare brukes hvis du er på en iPad eller lignende. Dette er for å sette den opp til å kunne starte programmet riktig.
    </p>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <form method="POST">
                        <fieldset>
                            <legend>Velg et rom.</legend>
                            <div class="text-16">
                                {% for room in rooms %}
                                    <label class="radio radio-success">
                                        <input type="radio" name="roomNbR" value="{{ room[0] }}" required >
                                        <span>{{ room[1] }}</span><span class="checkmark"></span>
                                    </label>
                                {% endfor %}
                            </div>
                            <button class="btn btn-dark ripple m-1 float-right" type="submit">Lagre</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- end of row-->
    <!-- end of main-content -->
</div>
{% endblock %}