{% extends "admin/template.html" %}

{% block active %}usrs{% endblock %}

{% block title %}
    Admin > Brukere
{% endblock %}

{% block content %}
<div class="main-content">
    <div class="breadcrumb">
        <h1>Users</h1>
        <ul>
            <li><a href="">Users</a></li>
            <li>List</li>
        </ul>
    </div>
    <div class="separator-breadcrumb border-top"></div>
    <div class="row mb-4">
        <div class="col-sm-12 col-md-7 mb-3">
            <div class="card text-left">
                <div class="card-body">
                    <h4 class="card-title mb-4 mt-2 float-left">Studenter </h4>
                    <button class="btn btn-outline-success mt-0 mb-3 float-right" type="button" id="with-html"><i class="i-Add text-16"></i> Ny student</button>
                    <div class="table-responsive border-top pt-2">
                        <table class="display table table-striped table-bordered dataTable" id="stud_table" style="width:100%" role="grid">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Navn</th>
                                <th scope="col">Kort Nummer</th>
                                <th scope="col">Eksamener fullført</th>
                                <th scope="col">Siste eksamen fullført</th>
                                <th scope="col">Status</th>
                                <th scope="col">Handling</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for u in usr %}
                                <tr>
                                    <th>{{ u[0] }}</th>
                                    <td>{{ u[2] }} {{ u[3] }}</td>
                                    <td>{{ u[1] }}</td>
                                    <td>{{ u[6] }}</td>
                                    <td>?</td>
                                    <td>
                                        {% if u[9] == 1 %}
                                            <span class="badge badge-success">Aktiver</span>
                                        {% else %}
                                            <span class="badge badge-danger r-badge">Deaktiver</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a class="text-success mr-2" href="#"><i class="nav-icon i-Pen-2 font-weight-bold"></i> Rediger</a>
                                        {% if u[9] == 0 %}
                                            <a class="text-success mr-2" href="#"><i class="nav-icon i-Yes font-weight-bold"></i> Aktiver</a>
                                        {% else %}
                                            <a class="text-danger mr-2" href="#"><i class="nav-icon i-Close-Window font-weight-bold"></i> Deaktiver</a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of col-->
        <div class="col-sm-12 col-md-5 mb-3">
            <div class="card text-left">
                <div class="card-body">
                    <h4 class="card-title mb-3 mt-2 float-left">Lærere </h4>
                    <button class="btn btn-outline-success mt-0 mb-3 float-right" type="button"><i class="i-Add text-16"></i> Ny lærer</button>
                    <div class="table-responsive border-top pt-2">
                        <div id="" class="dataTables_wrapper container-fluid dt-bootstrap4">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="display table table-striped table-bordered dataTable" id="teach_table" style="width:100%" role="grid">
                                        <thead>
                                        <tr role="row">
                                            <th scope="col">#</th>
                                            <th scope="col">Navn</th>
                                            <th scope="col">Kort Nummer</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Handling</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        {% for u in tch %}
                                            <tr>
                                                <th>{{ u[0] }}</th>
                                                <td>
                                                    {% if u[10] > 1 %}
                                                        <span class="badge badge-round-dark m-1" aria-details="Admin">A</span>
                                                    {% endif %}
                                                    {{ u[2] }} {{ u[3] }}
                                                </td>
                                                <td>{{ u[1] }}</td>
                                                <td>
                                                    {% if u[9] == 1 %}
                                                        <span class="badge badge-success">Aktivert</span>
                                                    {% else %}
                                                        <span class="badge badge-danger r-badge">Deaktivert</span>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    <a class="text-success mr-2" href="#"><i class="nav-icon i-Pen-2 font-weight-bold"></i> Rediger</a>
                                                    {% if u[9] == 0 %}
                                                        <a class="text-success mr-2" href="#"><i class="nav-icon i-Yes font-weight-bold"></i> Aktiver</a>
                                                    {% else %}
                                                        <a class="text-danger mr-2" href="#"><i class="nav-icon i-Close-Window font-weight-bold"></i> Deaktiver</a>
                                                    {% endif %}

                                                </td>
                                            </tr>
                                        {% endfor %}

                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- end of row-->
    <!-- end of main-content -->
    </div>
</div>
    <form></form>
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='admin/js/plugins/datatables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/js/scripts/datatables.script.min.js') }}"></script>

    <script src="{{ url_for('static', filename='admin/js/plugins/sweetalert2.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('#teach_table').DataTable({
                "paging": true,
                "ordering": false,
                "info": false
            }); // ordering or sorting

            $('#stud_table').DataTable({
                "paging": true,
                "ordering": false,
                "info": false
            }); // ordering or sorting
        });

    $('#with-html').on('click', function () {
            swal({
          title: 'Legg til ny student: ',
          html: '<label for="fname">Fornavn</label>' +
                '<input id="fname" class="swal2-input">' +
                '<label for="lname">Etternavn</label>' +
                '<input id="lname" class="swal2-input">' +
                '<label for="studid">Student nummer</label>' +
                '<input id="studid" class="swal2-input">' +
                '<label for="email">epost</label>' +
                '<input id="email" class="swal2-input">',
          showCancelButton: true,
          confirmButtonColor: '#0CC27E',
          cancelButtonColor: '#FF586B',
          confirmButtonText: 'Lagre!',
          cancelButtonText: 'Avbryt!',
          confirmButtonClass: 'btn btn-success mr-5',
          cancelButtonClass: 'btn btn-danger',
          buttonsStyling: false
        }).then(function () {
            $.post('/admin/new/student', {
                fname: document.getElementById('fname').value,
                lname: document.getElementById('lname').value,
                studid: document.getElementById('studid').value,
                email: document.getElementById('email').value
            });
          swal('Lagret!', 'Student er lagret', 'success');
        })
    })
    </script>
{% endblock %}


{% block endstyles %}
    <style type="text/css">
        .dataTables_filter {
            text-align: right;
        }
    </style>
{% endblock %}


{% block styles %}
    <link href="{{ url_for('static', filename='admin/css/plugins/sweetalert2.min.css') }}" rel="stylesheet">
{% endblock %}