{% extends "admin/template.html" %}

{% block active %}answers{% endblock %}

{% block title %}
    Resultat: {{ r[0] }}
{% endblock %}


<h1>{{ r[9] }}</h1>
{{ r }}<br>
<h2>{{ grade }}</h2>
</div>
<div class="container">

    <p>
    <b>Info to the stud</b>

    </p>
    <p>
    <b>Questions</b>
    </p>
<p>
    {{ r[3] }}
</p>


{% block content %}
    <div class="main-content">
        <div class="breadcrumb">
            <h1>Svar</h1>
        </div>
        <div class="separator-breadcrumb border-top"></div>
        <!-- end of row-->
        <div class="row mb-4">
            <div class="col-8 mb-4">
                <div class="card text-left">
                    <div class="card-body">
                        <div class="row mb-5">
                            <div class="col-8 col-auto mr-auto">
                                <h3 class="pb-2 border-bottom">{{ r[14] }}</h3>
                                <ul class="mt-4">
                                    {% for i in exam_info %}
                                        <li>{{ i }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="col-4 text-right col-auto" style="max-width:160px;">
                                <div class="row align-items-end">
                                    <table class="col small">
                                        <tbody>
                                            <tr><th>Student ID:</th><td>{{ r[8] }}</td></tr>
                                            <tr><th>Result ID:</th><td>{{ r[0] }}</td></tr>
                                            <tr><th>Date:</th><td>{{ date }}</td></tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive mb-4">
                            <table class="table table-hover" id="test_data">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Spørsmål</th>
                                    <th>Svar</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for a,i in p %}
                                    <tr>
                                        <td>{{ a[0] }}</td>
                                        <td>
                                            {% if a[6] == 1 %}
                                                <b>{{ a[3] }}</b>
                                            {% else %}
                                                {{ a[3] }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if i == '1' %}
                                                <span class="badge badge-round badge-round-opacity-success"><i class="i-Yes text-15"></i></span>
                                            {% else %}
                                                <span class="badge badge-round badge-round-opacity-danger"><i class="i-Close text-15"></i></span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                <tr>
                                    <th></th>
                                    <td>Tid brukt: {{ tu }}</td>
                                    <td></td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>#</th>
                                    <th>Spørsmål</th>
                                    <th>Svar</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="row mb-4 pt-4 border-top">
                            {% if sensor != None %}
                                <div class="col-4">
                                    <b>Sensor:</b> {{ sensor[1] }} {{ sensor[2] }}
                                </div>
                            {% endif %}
                            <div class="col-4 text-center">
                                <span class="text-19 font-weight-bold">
                                    {% if r[9] == 1 %}
                                        Bestått
                                    {% else %}
                                        Ikke Bestått
                                    {% endif %}
                                </span>
                            </div>
                        </div>

                        <div class="row mt-4 pt-4"><div class="col mt-3 pt-3">
                            {% if r[10] != None %}
                                <div class="row">
                                    <div class="col">
                                    <h5>Ting som er gjort bra:</h5>
                                        {% if comment['good'] %}
                                            {{ comment['good'] }}
                                        {% else %}
                                            Ingen Kommentar
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="row mt-4 mb-4 pt-3 pb-3 border-bottom border-top">
                                    <div class="col">
                                    <h5>Ting som må forbedres:</h5>

                                        {% if comment['bad'] %}
                                            {{ comment['bad'] }}
                                        {% else %}
                                            Ingen Kommentar
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                    <h5>
                                       Andre kommentarer:
                                    </h5>
                                    {% if comment['other'] %}
                                            {{ comment['other'] }}
                                        {% else %}
                                            Ingen Kommentar
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}
                        </div> </div>
                    </div>
                </div>
            </div>
            <!-- end of col-->
        </div>
    </div>
{% endblock %}

{% block endstyles %}
<style>
    .badge-rounded-custom {width:28px;height:28px;padding:0;padding-top: 0.1rem;}
</style>
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='admin/js/plugins/datatables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/js/scripts/datatables.script.min.js') }}"></script>
{% endblock %}

</body>

</html>