{% extends "admin/template.html" %}

{% block active %}a_exams{% endblock %}

{% block title %}
    Edit Exam
{% endblock %}

{% block content %}
    <div class="main-content">
        <div class="breadcrumb">
            <h1>Ny eksamen</h1>
        </div>
        <div class="separator-breadcrumb border-top"></div>
        <!-- end of row-->
    <form method="POST">
        <div class="row mb-4">
            <div class="col-sm-12 col-md-12 col-lg-5 col-xl-5 mt-3">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title mb-2">Ny eksamen</div>

                        <div class="form-group">
                            <label for="shortname">Navn</label>
                            <input class="form-control" id="shortname" name="shortname" type="text" aria-describedby="examHelp" placeholder="Navn på eksamen" value="" required><small class="form-text text-muted" id="shortnameHelp">Navn på eksamen.</small>
                        </div>
                        <div class="row mt-4" id="descBuilder">
                            <div class="col-sm-10">
                                <div class="form-group">
                                    <label for="testdescription">Info til studenten</label>
                                    <small class="form-text text-muted" id="descriptionHelp">Skriv in de forskjellige tingene elever trenger å vite. For å fjerne en rad, bare la raden stå tom.</small>
                                    <input class="form-control mb-3" id="testdescription" name="testdescription_1" type="text" aria-describedby="descriptionHelp" placeholder="Kort beskrivelse og tillegss informasjon om eksamenen" value="">

                                </div>
                            </div>
                            <div class="col-sm-1 text-right">
                                <span class="btn btn-outline-success text-17 mt-3" id="add_desc" type="button"><i class="i-Add text-16 m-1"></i></span>
                            </div>
                        </div>
                        <div class="row mb-12">
                            <div class="col-lg-6 col-xl-6 mt-3 form-group">
                                <label for="outfit">Antrekk</label>
                                <input class="form-control" id="outfit" name="outfit" type="text" aria-describedby="outfitHelp" placeholder="Antrekk" value="" required><small class="form-text text-muted" id="outfitHelp">Outfit the student should be using.</small>
                            </div>
                            <div class="col-lg-3 col-xl-3 mt-3 form-group">
                                <label for="min_correct">Minimum riktig</label>
                                <input class="form-control" id="min_correct" name="min_correct" type="number" min="0" max="255" aria-describedby="minCorrectHelp" placeholder="Minimum riktig" value="" required><small class="form-text text-muted" id="minCorrectHelp">Minimum riktig for å bestå. Ex: 7</small>
                            </div>
                            <div class="col-lg-3 col-xl-3 mt-3 form-group">
                                <label for="max_time">Tid:</label>
                                <input class="form-control" id="max_time" name="max_time" type="number" min="0" max="255" aria-describedby="max_timeHelp" placeholder="Maksimum tid som kan brukes" value="" required><small class="form-text text-muted" id="max_timeHelp">Maksimum tid som kan brukes. Ex: 15</small>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 mt-3">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-10 card-title">Spørsmål</div>
                                <div class="col-sm-2">Viktig?</div>
                        </div>
                        <div class="row" id="formBuilder">
                        </div>


                        <div class="border-top mt-4"></div>
                        <input type="button" value="Nytt spørsmål" class="btn btn-secondary mt-3" id="add" />
                    </div>
                </div>
            </div>
        </div>
            <!-- end of col-->
    <button class="btn btn-primary float-right mt-3 text-20" style="position: fixed;right: 15%;top: 90px;" type="submit">Lagre</button>
    </form>
        </div>
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='admin/js/plugins/datatables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/js/scripts/datatables.script.min.js') }}"></script>


<script type="text/javascript">
    /*
    * Creator: FarligOpptreden
    * Fetched from: https://stackoverflow.com/questions/9173182/add-remove-input-field-dynamically-with-jquery
    * Modifications done:
    *    Changed var to const
    *    Changed ID's to put the input fields into
    *    Added the correct styling and modification to the code for it to work correctly with the styles defined in the css.
    *    Removed unnecessary/irrelevant code.
    */
    $(document).ready(function() {
        let cid = 1
        $("#add").click(function() {
            const fieldWrapper = $("<div class=\"col-lg-12 form-group row\" id=\"field" + cid + "\"/>");
            fieldWrapper.data("idx", cid);
            const fName = $("<div class=\"col-sm-10 mt-3\"><input type=\"text\" class=\"form-control\" name='new_"+ cid +"'/></div>");
            const important = $('<div class="col-sm-1 mt-3"><input type="checkbox" style="width: 28px;height: 28px;" value="1" name="i_ne_' + cid + '" /><input type="hidden" name="i_ne_' + cid + '" value="0" /></div>')

            const removeButton = $("<div class=\"col-sm-1 mt-3\"><input class=\"btn btn-outline-danger m-1\" type=\"button\" value=\" - \" style='margin: 0!important;float:right;'></div>");
            removeButton.click(function() {
                $(this).parent().remove();
                cid--;
            });
            fieldWrapper.append(removeButton)
            fieldWrapper.append(fName);
            fieldWrapper.append(important);
            $("#formBuilder").append(fieldWrapper);
            cid++;
        });

        let did = 2;
        $("#add_desc").click(function() {
            const fieldWrapper = $("<div class=\"col-lg-12 form-group row\" id=\"field" + did + "\"/>");
            fieldWrapper.data("idx", did+1);
            const fName = $("<div class=\"col-sm-10 mt-3\"><input type=\"text\" class=\"form-control\" name='testdescription_"+ did +"' value=''/></div>");

            const removeButton = $("<div class=\"col-sm-1 mt-3\"><input class=\"btn btn-outline-danger m-1\" type=\"button\" value=\" - \" style='margin: 0!important;float:right;'></div>");
            removeButton.click(function() {
                $(this).parent().remove();
                did--;
            });
            fieldWrapper.append(fName);
            fieldWrapper.append(removeButton)
            $("#descBuilder").append(fieldWrapper);
            did++;
        });

    });
    </script>
{% endblock %}

{% block styles %}
{% endblock %}

