{% extends "global.html" %}
{% block title %}
    {{ exam[1] }}
{% endblock %}


{% block styles %}
{% endblock %}


{% block script %}
{% endblock %}


{% block content %}

    <div class="container-fluid mb-5 mt-5">
        <div class="row">
            <div class="col-11 m-auto text-right">
                <a href="{{ url_for('choose_exam') }}" class="text-secondary">Avbryt</a>
            </div>
        </div>


        <div class="row">
            <div class="col-11 m-auto">
                <h2> {{ exam[1] }} </h2>
                <p>
                    Når du starter testen; husk å snakke klart og tydelig. Del gjerne også tankeprosessen din underveis og forklar hvorfor du gjør det du gjør.
                </p>
                <div class="card card-block">
                    <div class="card-header">
                        <p>
                            Informasjon til Student:
                        </p>
                    </div>
                    <div class="card-body">

                        <div class="row">
                            <div class="description">
                                <ul class="desc">
                                    {% for x in desc %}
                                        <li>{{ x }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                       </div>

                        <div class="outfit pt-1">
                            <b>Antrekk:</b> {{ exam[4] }}
                        </div>
                        <div class="time pt-1">
                            <b>Tidsramme:</b> {{ time }} Minutter.
                        </div>
                        <div class="min_corr pt-1">
                            <b>For å få godkjent må studenten:</b><br>
                            Ha utført alle elementer med uthevet skrift.<br>
                            Oppnå minimum: {{ exam[8] }} poeng av {{ count }}.
                        </div>

                        <p class="mt-5">
                            <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#collapseCase" aria-expanded="false" aria-controls="collapseCase">
                            Få et case
                            </button>
                        </p>
                        <div class="collapse" id="collapseCase">
                            <div class="card card-body">
                            Simen Simulator, {{ case[2] }} år, er innlagt med sepsis, og begynnende utvikling av sirkulasjonssvikt. Det blir besluttet å starte opp noradrenalininfusjon. Han veier {{ case[4] }} kg, og skal starte noradrenalininfusjon på 0,10 mikrogram/kg/minutt. Noradrenalin finnes i 1 ml og 10 ml ampuller med styrke 1mg/ml.
                            </div>
                        </div>

                    </div>
                    <div class="card-footer">
                        <p>
                            Les opp eller vis denne informasjonen til deltakeren. Når beskrivelsen er lest og forstått returner iPad til
                            eksaminator/makker.
                        </p>
                        <p>
                            Når Padden er returnert kan eksaminator/makker trykke på "Start Test" og opptaket vil begynne.
                        </p>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col text-left">
                        <a href="{{ url_for('tasks', exam=exam[0], video=0) }}" class="text-secondary">Uten filming</a>
                    </div>
                    <div class="col text-right">
                        <a class="btn btn-primary btn-lg" href="{{ url_for('tasks', exam=exam[0], video=1) }}">
                            Start Test
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}