{% extends "global.html" %}
{% block title %}
    Homepage
{% endblock %}


{% block styles %}
{% endblock %}


{% block script %}
{% endblock %}


{% block content %}

    <div class="container" style="min-height: 100vh;">
        <div class="row h-100" style="min-height: calc(100vh - 200px);">
            <div class="col-sm-12 my-auto">
                <div class="card card-block text-center mx-auto">
                    <div class="card-header">
                        <h4>
                           Logg inn eller registrere ny bruker
                        </h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <a href="{{ url_for("user_login", opt=1) }}" class="btn btn-primary btn-lg" type="button">Logg inn</a>
                            </div>
                            <div class="col align-self-end">
                                <a href="{{ url_for("register_new_student") }}" class="btn btn-link btn-sm text-secondary" type="button">Registrer ny bruker</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="{{ url_for('studid_fix_card', order=1) }}" class="text-secondary">Logg inn med student ID</a>
            </div>
        </div>
    </div>
{% endblock %}