<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Please scan your card</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='loader.css') }}">
</head>
<body>

{% if option == 1 %}
    <h1>Vennligst skann studentkortet ditt</h1>
{% elif option == 2 %}
    <h1>Vennligst skann ansattkortet ditt</h1>
{% endif %}
<h3></h3>

<div class='loader loader1'>
  <div>
    <div>
      <div>
        <div>
          <div>
            <div></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    const request = new XMLHttpRequest();
    request.open('POST', '{{ url_for('user_login', opt=option) }}');

    request.onload = function() {
        if (request.status === 200 && request.responseText === 'done') {
            // long process finished successfully, redirect user
            window.location = '{{ url_for("choose_exam") }}';
        } else if (request.status === 403 && request.responseText === 'Forbidden' || request.status === 408 && request.responseText === 'Request Timeout') {
            window.location = '{{ url_for("splash") }}'
        } else if (request.status === 404 && request.responseText === 'Not Found') {
            window.location = '{{ url_for("register_new_student") }}'
        } else {
            // ops, we got an error from the server
            alert('ops, we got an error from the server.');
        }
    };

    request.onerror = function() {
        // ops, we got an error trying to talk to the server
        alert('ops, we got an error trying to talk to the server.');
    };

    request.send();
</script>

</body>
</html>