<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Resultater</title>
</head>

<body class="bg-dark">
    <div class="container-fluid">
        <div class="card mt-2">
            <div class="card-header">
                <h1>
                    Resulater
                </h1>
            </div>
            <div class="card-body">

                <div class="row">
                    <div class="col-12">
                    </div>
                    <div class="col-6">
                        <p>
                            Navn: {{ fornavn }} {{ etternavn }}
                        </p>
                    </div>
                    <div class="col-6">
                        Dato: {{ dato }}
                    </div>
                    <div class="col">
                        Student id: {{ student_id }}
                    </div>
                    <div class="col">
                        Resultat id: {{ result_id }}
                    </div>
                </div>
                <div class="row m-2">
                    <div class="col-xl">
                        <h2 class="text-center">
                            {{ exam }}
                        </h2>
                    </div>
                    <div class="col">
                        <h4 class="font-italic">
                            {{ grade }}
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl mb-0">
                        <p class="mb-0">
                            Oppgaver:
                        </p>
                        <ul class="list-group-flush">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                {{ oppgave[0] }} :
                                <span class="badge badge-light badge-pill">
                                    {{ checkstatus }}
                                </span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                {{ oppgave[0] }}:
                                <span class="badge badge-light badge-pill">
                                    {{ checkstatus }}
                                </span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                {{ oppgave[0] }}:
                                <span class="badge badge-light badge-pill">
                                    {{ checkstatus }}
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-header">
                                Kommentar:
                            </div>
                            <div class="card-body">
                                {{ kommentar }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <b>
                            Sensor: {{ sensor }}
                        </b>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>

</html>